<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LivroComoProgramar/src/capitulo4instrucoesdecontrole/rcps/Mystery.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="capitulo4instrucoesdecontrole.rcps.Mystery"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LivroComoProgramar"/>
</launchConfiguration>
